<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>current day</title>
  </head>
  <body>
    <% if(day =="Wednesday"){ %>
<h1 style ="color : red">Today is : <%= day %></h1>
    <% } else { %>
      <h1>Today is : <%= day %> </h1>
    <% } %>


  </body>
</html>
